<footer class="page-footer font-small ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 df-flex text-center">
        <p class="h4 text-dark mb-3 pt-4">Conhela o time de desenvolvimento</p>
      </div>
    </div>
    <div class="row text-center justify-content-center df-flex">

      <div class="col-md pb-3">
        <div>
          <img id="fotoDesenvolvedor" src="assets/img/Fotos desenvolvedores/guilherme_arizza.jpg">
        </div>
        <div>
          <label class="h5">Guilherme Ariza</label>
        </div>
        <div>
          <a class="text-dark" href="https://github.com/guilhermeariza" target="_blank">
            <img class="socialIcon" src="assets/icon/github_icon.png"> GitHub
          </a>
          <a class="text-dark" href="https://www.linkedin.com/in/guilherme-ariza" target="_blank">
            <img class="socialIcon" src="assets/icon/linkedin_icon.png"> LinkedIn
          </a>
        </div>
      </div>

      <div class="col-md">
        <div>
          <img id="fotoDesenvolvedor" src="assets/img/Fotos desenvolvedores/lucas_theberge.jpg">
        </div>
        <div class="row">
          <label class="h5">Lucas Theberge</label>
        </div>
        <div>
          <a class="text-dark" href="https://github.com/lucastheberge" target="_blank">
            <img class="socialIcon" src="assets/icon/github_icon.png"> GitHub
          </a>
          <a class="text-dark" href="https://www.linkedin.com/in/lucas-theberge" target="_blank">
            <img class="socialIcon" src="assets/icon/linkedin_icon.png"> LinkedIn
          </a>
        </div>
      </div>

      <div class="col-md">
        <div>
          <img id="fotoDesenvolvedor" src="assets/img/Fotos desenvolvedores/pamela_azevedo.jpg">
        </div>
        <div class="row">
          <label class="h5">Pamela Azevedo</label>
        </div>
        <div>
          <a class="text-dark" href="https://github.com/Pamelaazeved0" target="_blank">
            <img class="socialIcon" src="assets/icon/github_icon.png"> GitHub
          </a>
          <a class="text-dark" href="https://www.linkedin.com/in/pamela-azevedo-129768220" target="_blank">
            <img class="socialIcon" src="assets/icon/linkedin_icon.png"> LinkedIn
          </a>
        </div>
      </div>

      <div class="col-md">
        <div>
          <img id="fotoDesenvolvedor" src="assets/img/Fotos desenvolvedores/vanessa_jesus.jpeg">
        </div>
        <div class="row">
          <label class="h5">Vanessa de jesus</label>
        </div>
        <div>
          <a class="text-dark" href="https://github.com/VanessaAntonio0102" target="_blank">
            <img class="socialIcon" src="assets/icon/github_icon.png"> GitHub
          </a>
          <a class="text-dark" href="https://www.linkedin.com/in/vanessadaporto" target="_blank">
            <img class="socialIcon" src="assets/icon/linkedin_icon.png"> LinkedIn
          </a>
        </div>
      </div>

      <div class="col-md">
        <div>
          <img id="fotoDesenvolvedor" src="assets/img/Fotos desenvolvedores/vinicius_campanholi.jpg">
        </div>
        <div class="row">
          <label class="h5">Vinicius Campanholi</label>
        </div>
        <div>
          <a class="text-dark" href="https://github.com/ViniciusCampanholi" target="_blank">
            <img class="socialIcon" src="assets/icon/github_icon.png"> GitHub
          </a>
          <a class="text-dark" href="https://www.linkedin.com/in/viniciuscampanholi" target="_blank">
            <img class="socialIcon" src="assets/icon/linkedin_icon.png"> LinkedIn
          </a>
        </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">
      <span class="text-light">Desenvolvido por Elertech | Código disponível em <a class="text-light" target="_blank" href="https://github.com/Elertech">github.com/Elertech</a></span>
    </div>
  </div>
</footer>
