<footer class="page-footer font-small ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 df-flex text-center">
        <p class="h4 text-dark mb-3 pt-4">Conheça o time de desenvolvimento</p>
      </div>
    </div>
    <div class="row text-center justify-content-center df-flex" >

      <div class="col-md pb-3" *ngFor="let dev of listaDev">
        <!-- <div>
          <img id="fotoDesenvolvedor" src="{{dev.foto}}">
        </div> -->
        <div>
          <label class="h5">{{dev.nome}}</label>
        </div>
        <div>
          <a class="text-dark" href="{{dev.github}}" target="_blank">
            <img class="socialIcon" src="assets/icon/github_icon.png"> GitHub
          </a>
          <a class="text-dark" href="{{dev.linkedin}}" target="_blank">
            <img class="socialIcon" src="assets/icon/linkedin_icon.png"> LinkedIn
          </a>
        </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">
      <span class="text-light">Desenvolvido por Elertech | Código disponível em <a class="text-light" target="_blank" href="https://github.com/Elertech">github.com/Elertech</a></span>
    </div>
  </div>
</footer>
